# Dify Agent
DIFY_API_KEY=app-pdMl7kqO8Ope5RouFks3t3yV
DIFY_BASE_URL=https://dify.aiecos.ai/v1

# Pancake
PANCAKE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjQ4NzA1Mzc1MTM2NTc0NyIsInRpbWVzdGFtcCI6MTc3ODEyOTA4Mn0.aVf9hv8DnBT2pUnCmPtawp3hUDHYKdqjWX9pQQImYlA

# Port (Railway tự set, không cần thay)
PORT=3000
